<%= form_for [:presigned, @post], html: { id: "direct" } do |form| %>
  <p>
    <%= @post.errors.full_messages.to_sentence %>
  </p>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :documents_files %>
    <%= form.attachment_field :documents_files, multiple: true, presigned: true %>
  </p>
  <p>
    <%= form.label :document %>
    <%= form.attachment_field :document, presigned: true %>
  </p>
  <p>
    <%= form.submit "Create" %>
  </p>
<% end %>
