<%= form_for [:normal, @post] do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :image %>
    <%= form.attachment_field :image %>
  </p>
  <p>
    <%= form.submit "Create" %>
  </p>
<% end %>
